<% if(theme.comment.giscus.enable){%>
	<br />
	<div id="comment">
		<script src="https://giscus.app/client.js"
			data-repo="<%- theme.comment.giscus.repo %>"
			data-repo-id="<%- theme.comment.giscus.repoid %>"
			data-category="General"
			data-category-id="DIC_kwDON2qiK84Cmyz_"
			data-mapping="title"
			data-strict="0"
			data-reactions-enabled="<%- theme.comment.giscus.reactions %>"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="preferred_color_scheme"
			data-lang="<%= config.language %>"
			crossorigin="anonymous"
			async>
		</script>
	</div>
<% } %>